body{
	background-color: lightgray;
}
	h1{
		color: orange;
		font-size: 90px;
		text-decoration: underline;
	}

	#first{
		font-size: 100px;
	}

	.small{
		font-size: 30px;
	}

	h2{
		color: green;
		font-size: 80px;
	}

	span{
		font-style: italic;
	}	

	h2 span{
		text-decoration: line-through;
	}